.sidebar {
  height: 30%;
  width: 100vw;
  background: red;
  position: fixed;
  /* top: -100%; */
  transform: translateY(-100%);
  /* animation: slideOpen 0.5s ease-in forwards; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  gap: 1rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.sidebar > span {
  cursor: pointer;
}
.sidebar > div {
  align-self: flex-end;
  position: relative;
  cursor: pointer;
}
.sidebar-close {
  position: absolute;
  right: 35px;
  top: -35px;
}
@keyframes slideOpen {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(40%);
  }
}

@keyframes slideClose {
  from {
    transform: translateY(40%);
  }
  to {
    transform: translateY(-100%);
  }
}
